<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.twilio.twiliochat"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.TwilioChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".landing.LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".landing.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chat.MainChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main_chat"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name="com.twilio.ipmessaging.TwilioIPMessagingClientService"
            android:exported="false"/>
    </application>

</manifest>
